.code{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #596172;
  font-size: 2rem;
}

.input{
  z-index: -1;
}

.active{
  /* position: absolute; */
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.active::before {
  position: absolute;
  top: 0px;
  content: "";
  width: 2px;
  height: 2.5rem;
  background: #ec7fff;
  display: inline-block;
  animation: 1s caretFlash step-end infinite;
}

.correct{
  color:#f6f0e9;
}

.incorrect{
  color:#ec4c56;
}

.untyped{
  color:gray;
}

.indent{
  display: inline-block;
  width: 2ch;
}

@keyframes caretFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


